
 <link rel="stylesheet" href="/main.css">

<h2 class = "header">
Cakes
</h2>

<center>
<div class ="main">

<div>
<img class = "main1" src = "http://31p86334w2bvkz0249eyr0cr-wpengine.netdna-ssl.com/wp-content/uploads/2017/12/homemade-strawberry-cake.jpg">
<h1><%= @strawberry.name %></h1>
<h2><%= @strawberry.price %></h1>
<em><%= @strawberry.description %></em>
</div>

<div>
<img class = "main1"src = "https://tastesbetterfromscratch.com/wp-content/uploads/2010/06/Hersheys-Perfectly-Chocolate-Chocolate-Cake-13.jpg">
<h1><%= @chocolate.name %></h1>
<h2><%= @chocolate.price %></h1>
<em><%= @chocolate.description %></em>
</div>

<div>
<img class = "main1"src = "https://livforcake.com/wp-content/uploads/2017/06/vanilla-cake-6.jpg">
<h1><%= @vanilla.name %></h1>
<h2><%= @vanilla.price %></h1>
<em><%= @vanilla.description %></em>
</div>

<div>
<img class = "main1"src = "https://food.fnr.sndimg.com/content/dam/images/food/fullset/2004/1/23/1/ss1d26_red_velvet_cake.jpg.rend.hgtvcom.616.462.suffix/1371584132020.jpeg" >
<h1><%= @red_velvet.name %></h1>
<h2><%= @red_velvet.price %></h1>
<em><%= @red_velvet.description %></em>
</div>

<div>
<img class = "main1" src = "https://tastesbetterfromscratch.com/wp-content/uploads/2017/05/German-Chocolate-Cake-6.jpg" >
<h1><%= @German_Chocolate.name %></h1>
<h2><%= @German_Chocolate.price %></h1>
<em><%= @German_Chocolate.description %></em>
</div>

<div>
<img class = "main1" src = "https://i2.wp.com/www.livewellbakeoften.com/wp-content/uploads/2017/04/Carrot-Cake-with-Cream-Cheese-Frosting-3.jpg?resize=1360%2C2040" >
<h1><%= @Carrot_Cake.name %></h1>
<h2><%= @Carrot_Cake.price %></h1>
<em><%= @Carrot_Cake.description %></em>
</div>
    
</body>
</html>

</div>
</center>