<link rel="stylesheet" href="/main.css">

<h2 class = "header">
Cookies
</h2>

<center>
<div class = "main">
<div>
<img class = "main1"  src= "https://www.tasteofhome.com/wp-content/uploads/2018/01/Snickerdoodles_EXPS_SDDJ17_30098_A08_09_4b.jpg"> 
<h1><%= @cookie1.name %></h1>
<h2><%= @cookie1.price %></h1>
<em><%= @cookie1.description %></em>
</div>

<div>
<img class = "main1" src= "https://www.tasteofhome.com/wp-content/uploads/2018/05/exps191702_THCSS153652B02_17_19b.jpg"> 
<h1><%= @cookie2.name %></h1>
<h2><%= @cookie2.price %></h1>
<em><%= @cookie2.description %></em>
</div>

<div>
<img class = "main1"  src= "https://www.tasteofhome.com/wp-content/uploads/2017/10/exps181380_CC143384D05_23_2b.jpg"> 
<h1><%= @cookie3.name %></h1>
<h2><%= @cookie3.price %></h1>
<em><%= @cookie3.description %></em>
</div>

<div>
<img class = "main1" src= "https://www.tasteofhome.com/wp-content/uploads/2017/10/Old-Fashioned-Oatmeal-Raisin-Cookies_exps117555_THCM14D08_09_5bC_RMS.jpg"> 
<h1><%= @cookie4.name %></h1>
<h2><%= @cookie4.price %></h1>
<em><%= @cookie4.description %></em>
</div>

<div>
<img  class = "main1" src= "https://www.tasteofhome.com/wp-content/uploads/2017/10/Old-Fashioned-Gingersnaps_exps3150_CC2860595B07_27_4bC_RMS-2.jpg"> 
<h1><%= @cookie5.name %></h1>
<h2><%= @cookie5.price %></h1>
<em><%= @cookie5.description %></em>
</div>

<div>
<img class = "main1" src= "https://www.tasteofhome.com/wp-content/uploads/2018/01/Scottish-Shortbread_EXPS_THN17_1889_D06_21_4b.jpg"> 
<h1><%= @cookie6.name %></h1>
<h2><%= @cookie6.price %></h1>
<em><%= @cookie6.description %></em>
</div>

<div class = "main">
</center>