<link rel="stylesheet" href="/main.css">


<h2 class = "header">
Muffins
</h2>
<center>
<div class = "main">
<div>
<img class = "main1"  src= "https://www.tasteofhome.com/wp-content/uploads/2018/03/Apple-Streusel-Muffins_EXPS_CWFM17_31138_C10_11_5b.jpg"> 
<h1><%= @muffin1.name %></h1>
<h2><%= @muffin1.price %></h1>
<em><%= @muffin1.description %></em>
</div>


<div class = "space">
<img class = "main1"  src= "https://www.tasteofhome.com/wp-content/uploads/2018/04/EXPS_HC17_194364_D12_01_7b.jpg"> 
<h1><%= @muffin2.name %></h1>
<h2><%= @muffin2.price %></h1>
<em><%= @muffin2.description %></em>
</div>

<div  class "space">#
<div>
<img class = "main1"  src= "https://www.tasteofhome.com/wp-content/uploads/2017/10/exps10111_MRR143297C09_10_2b-1-696x696.jpg    "> 
<h1><%= @muffin3.name %></h1>
<h2><%= @muffin3.price %></h1>
<em><%= @muffin3.description %></em>
</div>


<div>
<img class = "main1" src= "https://www.tasteofhome.com/wp-content/uploads/2017/10/exps71_THCM1115477D51_RMS-1.jpg"> 
<h1><%= @muffin4.name %></h1>
<h2><%= @muffin4.price %></h1>
<em><%= @muffin4.description %></em>
</div>

<div>
<img class = "main1" src= "https://www.tasteofhome.com/wp-content/uploads/2018/03/exps15996_HB143427B07_18_6b-1.jpg"> 
<h1><%= @muffin5.name %></h1>
<h2><%= @muffin5.price %></h1>
<em><%= @muffin5.description %></em>
</div>

<div>
<img class = "main1" src = "https://www.tasteofhome.com/wp-content/uploads/2017/10/Orange-Corn-Muffins_exps4254_FB2742780A04_03_5b_RMS-3-696x696.jpg"> 
<h1><%= @muffin6.name %></h1>
<h2><%= @muffin6.price %></h1>
<em><%= @muffin6.description %></em>
</div>
</div>
</center>